/* ==========================================================================
 Fonts
 *========================================================================== */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-condlight/opensans-condlight.eot");
  src: url("../fonts/OpenSans/opensans-condlight/opensans-condlight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-condlight/opensans-condlight.woff") format("woff"), url("../fonts/OpenSans/opensans-condlight/opensans-condlight.ttf") format("truetype"), url("../fonts/OpenSans/opensans-condlight/opensans-condlight.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-condbold/opensans-condbold.eot");
  src: url("../fonts/OpenSans/opensans-condbold/opensans-condbold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-condbold/opensans-condbold.woff") format("woff"), url("../fonts/OpenSans/opensans-condbold/opensans-condbold.ttf") format("truetype"), url("../fonts/OpenSans/opensans-condbold/opensans-condbold.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-light/opensans-light.eot");
  src: url("../fonts/OpenSans/opensans-light/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-light/opensans-light.woff") format("woff"), url("../fonts/OpenSans/opensans-light/opensans-light.ttf") format("truetype"), url("../fonts/OpenSans/opensans-light/opensans-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-regular/opensans-regular.eot");
  src: url("../fonts/OpenSans/opensans-regular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-regular/opensans-regular.woff") format("woff"), url("../fonts/OpenSans/opensans-regular/opensans-regular.ttf") format("truetype"), url("../fonts/OpenSans/opensans-regular/opensans-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-italic/opensans-italic.eot");
  src: url("../fonts/OpenSans/opensans-italic/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-italic/opensans-italic.woff") format("woff"), url("../fonts/OpenSans/opensans-italic/opensans-italic.ttf") format("truetype"), url("../fonts/OpenSans/opensans-italic/opensans-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-bold/opensans-bold.eot");
  src: url("../fonts/OpenSans/opensans-bold/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-bold/opensans-bold.woff") format("woff"), url("../fonts/OpenSans/opensans-bold/opensans-bold.ttf") format("truetype"), url("../fonts/OpenSans/opensans-bold/opensans-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/opensans-extrabold/opensans-extrabold.eot");
  src: url("../fonts/OpenSans/opensans-extrabold/opensans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-extrabold/opensans-extrabold.woff") format("woff"), url("../fonts/OpenSans/opensans-extrabold/opensans-extrabold.ttf") format("truetype"), url("../fonts/OpenSans/opensans-extrabold/opensans-extrabold.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* ==========================================================================
 Reset
 *========================================================================== */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-modal-wrap: 100%;
}

body {
  font: 400 16px/1.375 "OpenSans", Arial, sans-serif;
  background-color: #fff;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

ol, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto !important;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: none !important;
  border: 0 !important;
}

button, input {
  margin: 0;
  padding: 0;
}

*:focus,
*::active,
*::after:focus,
*::before:focus {
  outline-offset: 0 !important;
  outline: none !important;
  border: 0 !important;
}

a:active, a:focus {
  outline: none;
}

*:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=../../_maps/style.css.map */
